* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif !important;
}
body {
  background: #f9fafb;
  color: #272727;
}

p {
  margin: 0;
}

.pd-30 {
  padding: 30px;
}

.pd-10 {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-20 {
  padding: 20px;
}

.mgR10 {
  margin-right: 10px;
}

.mg0 {
  margin: 0;
}

.mr-8b {
  margin-bottom: 8px;
}

/* .disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */
